@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  width: 100%;
  font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "å¾®è½¯é›…é»‘", 'Segoe UI', Tahoma, "å®‹ä½“b8b\4f53", SimSun, sans-serif;
  text-rendering: optimizeLegibility;
}

.header {
  width: 100%;
  height: 36px;
  background-color: #ececec;
}
.header .conter {
  width: 1050px;
  height: 36px;
  color: #333;
  line-height: 36px;
  margin: 0 auto;
  position: relative;
}
.header .conter .fl li {
  float: left;
  font-size: 12px;
  margin-right: 15px;
  cursor: pointer;
}
.header .conter .fr span {
  height: 36px;
  line-height: center;
  float: right;
  font-size: 12px;
  cursor: pointer;
  margin-right: 5px;
}
.header .conter .fr a {
  text-decoration: none;
  color: #333;
}
.header .conter:hover span a {
  text-decoration: underline;
}

.nav {
  width: 100%;
  height: 87px;
  background-color: white;
}
.nav .contera {
  width: 1050px;
  height: 87px;
  line-height: 87px;
  color: #333;
  line-height: 36px;
  margin: 0 auto;
}
.nav .contera .fl {
  width: 560px;
  height: 87px;
  line-height: 87px;
}
.nav .contera .fl .logo img {
  width: 164px;
  height: 30px;
  margin-top: 25px;
  display: inlin-block;
  float: left;
}
.nav .contera .fl span {
  float: left;
  width: 1px;
  height: 28px;
  background-color: #ddd;
  margin-top: 28px;
  margin-left: 15px;
}
.nav .contera .fl .beijing {
  width: 62px;
  height: 26px;
  line-height: 28px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ddd;
  margin-top: 28px;
  float: left;
  margin-left: 25px;
}
.nav .contera .fl a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.nav .contera .fl ul {
  width: 170px;
  height: 86px;
  float: right;
  text-align: center;
  padding-left: 60px;
}
.nav .contera .fl ul .ull {
  color: #5dbb85;
}
.nav .contera .fl ul li {
  width: 32px;
  height: 86px;
  float: left;
  margin-right: 20px;
  font-size: 16px;
}
.nav .contera .fl ul li i {
  display: block;
  margin-top: -60px;
  margin-left: 32px;
  vertical-align: -4px;
  width: 25px;
  height: 28px;
  background: url("../images/x.gif");
}
.nav .contera .fl:hover .ull,
.nav .contera .fl:hover .ul2,
.nav .contera .fl:hover .ul3 {
  text-decoration: underline;
}
.nav .contera .fr {
  float: right;
  width: 170px;
  height: 86px;
  line-height: 86px;
  margin-top: -86px;
}
.nav .contera .fr .phone {
  background-image: url(../images/dianhua.png);
  background-position: -83px -10px;
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
.nav .contera .fr span {
  color: #39ac6a;
  font-weight: 700;
  font-size: 14px;
}

.bodys {
  width: 100%;
  height: 444px;
  background: url("../images/listd.jpg");
}
.bodys .fl-1 {
  float: left;
  width: 248px;
  height: 444px;
  border: 1px solid red;
}
.bodys .fl-1 .fl-t {
  width: 248px;
  height: 109px;
  background-color: #263138;
}
.bodys .fl-1 .fl-t .fl-t1 {
  width: 218px;
  height: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin: 0 auto;
}
.bodys .fl-1 .fl-t .fl-t1 i {
  background: url("../images/dianhua.png");
  background-size: 710px 230px;
  background-position: -8px -10px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  position: relative;
  top: 2px;
  left: 1px;
}
.bodys .fl-1 .fl-t .fl-t2 {
  width: 213px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 2px;
  background-color: #f15044;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}
.bodys .fl-1 .fl-t .fl-t2 a {
  text-decoration: none;
  color: white;
}
.bodys .fl-1 .fl-d {
  width: 248px;
  height: 335px;
  background: url("../images/ditu.png");
  position: relative;
  cursor: pointer;
}
.bodys .fl-1 .fl-d p {
  position: absolute;
  bottom: 0;
  margin: 12px 12px 15px 15px;
  color: white;
  font-size: 12px;
  line-height: 22px;
}
.bodys .fl-1 .fl-d p span {
  font-weight: 700;
}
.bodys .fl-2 {
  float: left;
  width: 246px;
  height: 444px;
  line-height: 444px;
  border: 1px solid blue;
}
.bodys .fl-2 .juzhong {
  position: relative;
  width: 180px;
  height: 400px;
  top: 20px;
  background-color: pink;
  margin: 0 auto;
}
.bodys .fl-2 .juzhong .inp {
  width: 180px;
  height: 36px;
  border: 1px solid red;
}
.bodys .fl-2 .juzhong .inp input {
  width: 134px;
  height: 36px;
  color: white;
  line-height: 36px;
  border: 1px solid white;
  background: #369d667;
  border-radius: 2px;
}

.lun {
  width: 100%;
  height: 675px;
  background-color: white;
}

.all {
  width: 100%;
  height: 1115px;
  background-color: pink;
}

.footer {
  width: 100%;
  height: 426px;
  background: url("../images/footer.jpg");
}

/*# sourceMappingURL=list.css.map */
